@import './variable';

.footer {
    margin-top: 102px;
    padding: 72px 0 50px;
    background: $bgColor;
    color: #fff;

    &__row {
        display: flex;
        justify-content: space-between;

        &--gap-50 {
            gap: 50px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 1.5;
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        padding-bottom: 16px;
        max-width: 354px;
        border-bottom: 1px solid #6a8383;
    }

    &__form-input {
        padding: 20px 0;
        background: transparent;
        border: none;
        outline: none;
        color: inherit;
        font-weight: 600;
        font-size: 22px;
        line-height: 1;

        &::placeholder {
            color: #6a8383;
        }
    }

    &__form-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px;
        background: transparent;
        border: none;
        color: #c4c4c4;
        transform: rotateY(180deg);
        cursor: pointer;

        &:hover {
            color: inherit;
            border: 1px solid #6a8383;
            border-radius: 4px;
        }
    }

    &__social {
        margin-top: 47px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 22px;
    }

    &__social-item {
        font-size: 2rem;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        border-radius: 100rem;
        border: 1px solid #265252;
        cursor: pointer;

        &:hover {
            background: #a75325;
            border-color: transparent;
        }

        &-text {
            font-size: 2.4rem;
        }
    }

    &__column {
        &--sub {
            margin-top: 22px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__heading {
        font-size: 1.8rem;
        line-height: 1.56;
        margin-bottom: 5px;
    }

    &__link {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.25;
        color: #6a8383;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }

    &__separate {
        margin-top: 45px;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, #143c3c 2.28%, #295a5a 55.65%, rgba(38, 82, 82, 0) 102.06%);
    }
}
