@import './variable';

.header {
    font-family: 'Public Sans', sans-serif;

    &__menu {
        margin-top: 16px;
        padding: 12px 0 28px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__action {
        display: flex;
        align-items: center;
        column-gap: 69px;
    }

    &__navbar {
        display: flex;
    }

    &__navbar-item {
        padding: 8px 19px;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.56;
        color: $textColorMenu;

        &:hover,
        &--active {
            color: $primaryColor;
        }
    }

    &__separate {
        margin-top: 13px;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, #ffffff 0%, #dddcdc 51.09%, rgba(213, 213, 213, 0) 99.68%);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 16px;
            height: 2px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $bgColor;
        }
    }
}

.hero {
    display: flex;
    align-items: center;
    position: relative;
    gap: 76px;
    padding-bottom: 88px;

    &__heading {
        font-size: 5rem;
        line-height: 1.2;
    }

    &__desc {
        margin-top: 20px;
        font-size: 1.8rem;
        line-height: 1.56;
        color: $textColorMenu;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 42px;
    }

    &__action {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;

            .hero__btn {
                cursor: pointer;
                background: $bgColorLight;
                color: $bgColor;

                &::before {
                    transform: translate(-50%, -50%) rotate(405deg) scale(calc(59 / 44));
                    border-color: $bgColor;
                }

                &::after {
                    opacity: 0;
                }
            }

            .hero__btn-desc {
                color: $textColorMenu;
            }
        }
    }

    &__btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        width: 44px;
        height: 44px;
        background: #83a17d;
        border: none;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 44px;
            height: 44px;
            position: absolute;
            background-color: transparent;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(225deg) scale(calc(59 / 44));
            border-radius: 50%;
            border: 4px solid;
            z-index: -1;
            border-color: $bgColor $bgColor transparent transparent;
            transition: all 0.4s linear;
            box-sizing: border-box;
        }

        &::after {
            content: '';
            display: block;
            width: 44px;
            height: 44px;
            position: absolute;
            background-color: transparent;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(225deg) scale(calc(59 / 44));
            border-radius: 50%;
            border: 4px solid;
            z-index: -1;
            border-color: $bgColor $bgColor transparent transparent;
            // transition: all 0.4s ease-in;
            box-sizing: border-box;
        }
    }

    &__btn-desc {
        margin-left: 15px;
        display: inline-block;
        font-size: 1.8rem;
        line-height: 1.67;
        text-align: center;
    }

    &__figure {
        position: relative;
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 56%;
        min-height: 543px;
        margin-top: 32px;
        margin-right: 25px;
    }

    &__img {
        width: 100%;
        max-width: 202px;
        object-fit: cover;
        height: 466px;
        border-radius: 110px;

        &:nth-of-type(2) {
            align-self: flex-end;
        }
    }

    &__pattern {
        position: absolute;

        &:first-of-type {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &:last-of-type {
            bottom: 0;
            right: 0;
        }
    }
}
