@import './variable';

.header {
    font-family: 'Public Sans', sans-serif;

    &__menu {
        margin-top: 16px;
        padding: 12px 0 28px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__action {
        display: flex;
        align-items: center;
        column-gap: 69px;
    }

    &__navbar {
        display: flex;
    }

    &__navbar-item {
        padding: 8px 19px;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.56;
        color: $textColorMenu;

        &:hover,
        &--active {
            color: $primaryColor;
        }
    }

    &__separate {
        margin-top: 13px;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, #ffffff 0%, #dddcdc 51.09%, rgba(213, 213, 213, 0) 99.68%);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 16px;
            height: 2px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $bgColor;
        }
    }
}
