@import './variable';

.process {
    margin-top: 79px;

    &__heading {
        margin-top: 20px;
        max-width: 487px;
        font-size: 4.2rem;
        line-height: 1.24;
    }

    &__list {
        margin-top: 81px;
    }

    &__item {
        // min-height: 163px;
        padding: 25px 30px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(180deg, #83a17d 4.17%, rgba(131, 161, 125, 0) 36.46%);
        }

        &:first-child {
            background: $bgColorLight;
            border-radius: 33px;
            height: 185px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &::after {
                display: none;
            }
        }
    }

    &__step {
        font-size: 7.2rem;
        line-height: 0.72;
        position: absolute;
        left: -156px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 156px;

        &--column {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__header {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }

    &__title {
        font-size: 22px;
        line-height: 1;
    }

    &__more {
        display: inline-block;
        margin-top: 7px;
        padding-bottom: 3px;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1;
        color: $textColorMenu;
        border-bottom: 1px solid $primaryColor;
    }

    &__desc {
        padding-top: 22px;
        max-width: 572px;
        font-size: 1.8rem;
        line-height: 1.56;
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: 62px;
        width: 450px;
        height: 444px;
        object-fit: cover;
    }
}
