@import './variable';
@import './common';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    // font-family: 'Public Sans', sans-serif;
    // font-family: 'Sonsie One', cursive;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: calc(100% - 48px);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 57px;
    outline: none;
    border-radius: 40px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    text-align: center;
    background: $bgColor;
    border: 1px solid $bgColor;
    color: #fff;
    transition: all 0.25s ease-in;

    &:hover {
        cursor: pointer;
        background: $bgColorLight;
        color: $bgColor;
    }

    &--circle {
        width: 54px;
        height: 54px;
        border-radius: 50%;
    }
}

.section__heading {
    font-weight: 600;
    color: $primaryColor;
}

.section__desc {
    font-weight: 500;
    color: $textColor;
}

// Header
@import './header';

// App
@import './app';
