* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  width: calc(100% - 48px);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 57px;
  outline: none;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  text-align: center;
  background: #143c3c;
  border: 1px solid #143c3c;
  color: #fff;
  transition: all 0.25s ease-in;
}
.btn:hover {
  cursor: pointer;
  background: #e2eddf;
  color: #143c3c;
}
.btn--circle {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.section__heading {
  font-weight: 600;
  color: #152427;
}

.section__line {
  display: inline-block;
  width: 66px;
  height: 2px;
  background: currentColor;
  margin-left: 11px;
}

.section__desc {
  font-weight: 500;
  color: #7d8188;
}

.section__label {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #152427;
}
.section__label::before {
  content: "";
  display: block;
  width: 25px;
  height: 1px;
  background: #152427;
  margin-right: 21px;
}

.section__circle {
  position: absolute;
  width: 340px;
  height: 340px;
  background: #4dbb9a;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  filter: blur(137px);
}

.header {
  font-family: "Public Sans", sans-serif;
}
.header__menu {
  margin-top: 16px;
  padding: 12px 0 28px;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__action {
  display: flex;
  align-items: center;
  column-gap: 69px;
}
.header__navbar {
  display: flex;
}
.header__navbar-item {
  padding: 8px 19px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}
.header__navbar-item:hover, .header__navbar-item--active {
  color: #152427;
}
.header__separate {
  margin-top: 13px;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #ffffff 0%, #dddcdc 51.09%, rgba(213, 213, 213, 0) 99.68%);
  position: relative;
}
.header__separate::before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #143c3c;
}

.hero {
  display: flex;
  align-items: center;
  position: relative;
  gap: 76px;
  padding-bottom: 88px;
}
.hero__heading {
  font-size: 5rem;
  line-height: 1.2;
}
.hero__desc {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}
.hero__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 42px;
}
.hero__action {
  display: flex;
  align-items: center;
}
.hero__action:hover {
  cursor: pointer;
}
.hero__action:hover .hero__btn {
  cursor: pointer;
  background: #e2eddf;
  color: #143c3c;
}
.hero__action:hover .hero__btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.hero__action:hover .hero__btn-desc {
  color: #575d5e;
}
.hero__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__btn {
  width: 44px;
  height: 44px;
  background: #83a17d;
  border: none;
  position: relative;
}
.hero__btn::before {
  content: "";
  display: block;
  width: 59px;
  height: 59px;
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(225deg);
  border-radius: 50%;
  border: 4px solid;
  z-index: -1;
  border-color: #143c3c #143c3c transparent transparent;
  transition: border-color 0.4s linear;
  box-sizing: border-box;
}
.hero__btn::after {
  content: "";
  display: block;
  width: 59px;
  height: 59px;
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(225deg);
  border-radius: 50%;
  border: 4px solid;
  z-index: -1;
  border-color: #143c3c #143c3c transparent transparent;
  transition: transform 0.4s linear;
  box-sizing: border-box;
}
.hero__btn-desc {
  margin-left: 15px;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
}
.hero__figure {
  position: relative;
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 56%;
  min-height: 543px;
  margin-top: 32px;
  margin-right: 25px;
}
.hero__img {
  width: 100%;
  max-width: 202px;
  object-fit: cover;
  height: 466px;
  border-radius: 110px;
}
.hero__img:nth-of-type(2) {
  align-self: flex-end;
}
.hero__pattern {
  position: absolute;
}
.hero__pattern:first-of-type {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.hero__pattern:last-of-type {
  bottom: 0;
  right: 0;
}

.app {
  margin-top: 42px;
}
.app__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 76px 122px;
  background: #e2eddf;
  border-radius: 9999px;
}
.app__item {
  display: flex;
  align-items: center;
  gap: 11px;
}
.app__item--narrow {
  gap: 5px;
}
.app__item:first-child .app__name {
  font-weight: 500;
  font-size: 3.1rem;
  line-height: 1.5;
}
.app__item:nth-child(2) .app__name {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1.5;
}
.app__item:nth-child(3) .app__name {
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.5;
}
.app__item:nth-child(4) .app__name {
  font-family: "Sonsie One";
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 1.3;
}
.app__item:last-child .app__name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 1.47;
  letter-spacing: 0.11rem;
}
.app__name {
  color: #143c3c;
}

.service {
  margin-top: 106px;
}
.service__row {
  display: flex;
  justify-content: space-between;
}
.service__heading {
  font-size: 4.2rem;
  line-height: 1.24;
  max-width: 520px;
}
.service__action {
  display: flex;
  align-self: flex-end;
  margin-bottom: 9px;
  column-gap: 17px;
}
.service__btn {
  border: none;
}
.service__btn--right {
  transform: rotateY(180deg);
}
.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  margin-top: 76px;
}
.service__article {
  border-radius: 20px;
}
.service__article:hover .service__article-body {
  padding: 24px 18px;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
  background: #fff;
}
.service__article:hover .service__img {
  transform: scale(1.2);
}
.service__article-body {
  padding: 24px 0;
  transition: 0.23s ease;
  border-radius: 0 0 20px 20px;
}
.service__image {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.service__img {
  display: block;
  width: 100%;
  height: 318px;
  object-fit: cover;
  transition: 0.23s ease-out;
}
.service__article-heading {
  font-size: 2.2rem;
  line-height: 1;
}
.service__article-desc {
  margin-top: 18px;
  max-width: 268px;
  font-size: 1.4rem;
  line-height: 1.71;
}

.about {
  margin-top: 125px;
}
.about__inner {
  display: flex;
  gap: 64px;
  position: relative;
}
.about__images {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  height: 557px;
  gap: 21px;
  position: relative;
}
.about__img {
  display: block;
  width: auto;
  max-width: 284px;
  height: 480px;
  object-fit: cover;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
  border-radius: 210px;
}
.about__img:first-child {
  margin-top: auto;
}
.about__card {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 19px 17px 11px;
  font-family: "Public Sans", sans-serif;
  border-radius: 8px;
  box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
  background: #fff;
}
.about__card-wide {
  padding: 0 6px;
}
.about__card-heading {
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
}
.about__card-desc {
  font-weight: 400;
  margin-top: 6px;
  font-size: 1rem;
  line-height: 1.4;
  color: #575d5e;
  opacity: 0.4;
}
.about__card-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
}
.about__card-process {
  margin-top: 10px;
}
.about__card-line {
  --process: 40%;
  margin-top: 3px;
  width: 100%;
  height: 2px;
  background: #eaeaea;
  border-radius: 10px;
  position: relative;
}
.about__card-line::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: var(--process);
  height: 2px;
  background: #83a17d;
  border-radius: 10px;
}
.about__card-status {
  margin-top: 3px;
  text-align: end;
}
.about__card-circle {
  --width-circle: 11px;
  margin-top: 3px;
  margin-left: 2px;
  width: 11px;
  height: 11px;
  position: relative;
}
.about__card-circle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border: none;
  outline: none;
  width: var(--width-circle);
  height: var(--width-circle);
  border-radius: 50%;
  background: #eaeaea;
}
.about__card-circle::after {
  content: "";
  position: absolute;
  top: calc(var(--width-circle) / 2);
  left: calc(var(--width-circle) / 2);
  transform: translate(-50%, -50%);
  display: block;
  border: none;
  outline: none;
  width: calc(var(--width-circle) / 2.2);
  height: calc(var(--width-circle) / 2.2);
  border-radius: 50%;
  background: #143c3c;
}
.about__card-row {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__card-avatars {
  display: flex;
}
.about__card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #fff;
  background-color: #e2eddf;
  margin-left: -5px;
}
.about__card-avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.about__card-avatar-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}
.about__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 24px;
  margin-top: 18px;
  border-bottom: 1px solid #83a17d;
}
.about__heading {
  margin-top: 20px;
  font-size: 4.2rem;
  line-height: 1.24;
}
.about__heading--sub {
  margin-top: 0;
}
.about__desc {
  margin-top: 11px;
  font-size: 1.6rem;
  line-height: 1.62;
}
.about__desc--sub {
  margin-top: 0;
  font-size: 1.4rem;
  line-height: 1.71;
  max-width: 364px;
}
.about__pattern {
  position: absolute;
  left: 46px;
  top: -18px;
}
.about__pattern-line {
  top: 18px;
  left: 83px;
}

.process {
  margin-top: 79px;
}
.process__heading {
  margin-top: 20px;
  max-width: 487px;
  font-size: 4.2rem;
  line-height: 1.24;
}
.process__list {
  margin-top: 81px;
}
.process__item {
  padding: 25px 30px;
  position: relative;
}
.process__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(180deg, #83a17d 4.17%, rgba(131, 161, 125, 0) 36.46%);
}
.process__item:first-child {
  background: #e2eddf;
  border-radius: 33px;
  height: 185px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.process__item:first-child::after {
  display: none;
}
.process__step {
  font-size: 7.2rem;
  line-height: 0.72;
  position: absolute;
  left: -156px;
  top: 50%;
  transform: translateY(-50%);
}
.process__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 156px;
}
.process__wrapper--column {
  flex-direction: column;
  align-items: flex-start;
}
.process__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.process__title {
  font-size: 22px;
  line-height: 1;
}
.process__more {
  display: inline-block;
  margin-top: 7px;
  padding-bottom: 3px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  color: #575d5e;
  border-bottom: 1px solid #152427;
}
.process__desc {
  padding-top: 22px;
  max-width: 572px;
  font-size: 1.8rem;
  line-height: 1.56;
}
.process__img {
  position: absolute;
  bottom: 0;
  right: 62px;
  width: 450px;
  height: 444px;
  object-fit: cover;
}

.glance {
  margin-top: 148px;
  background: #143c3c;
}
.glance__inner {
  padding-top: 116px;
  padding-bottom: 63px;
}
.glance__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 93px;
}
.glance__heading {
  font-size: 4.2rem;
  line-height: 1.24;
  color: #e7f9f9;
  max-width: 457px;
}
.glance__line-heading {
  background: #83a17d;
}
.glance__content {
  flex: 1;
  position: relative;
}
.glance__desc {
  font-size: 1.8rem;
  line-height: 1.56;
  color: #6a8383;
}
.glance__action {
  margin-top: 9px;
  border: none;
  outline: none;
  margin-left: -13px;
  padding: 4px 13px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  background: transparent;
  font-family: "Public Sans";
  cursor: pointer;
}
.glance__action:hover {
  border-radius: 9999px;
  background: #6a8383;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.glance__action:hover .glance__icon {
  color: inherit;
}
.glance__btn-text {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: inherit;
}
.glance__icon {
  margin-left: 26px;
  color: #80a07b;
  transform: rotateY(180deg);
}
.glance .video-modular {
  position: relative;
  margin-top: 65px;
  width: 100%;
  height: 544px;
  border-radius: 22px;
}
.glance__thumb, .glance__video {
  width: 100%;
  height: 100%;
  border-radius: 22px;
}
.glance__thumb {
  object-fit: cover;
  display: block;
  top: 0;
  left: 0;
}
.glance__thumb, .glance__btn {
  position: absolute;
}
.glance__btn {
  width: 118px;
  height: 118px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.glance__btn-icon {
  width: 36px;
  height: 36px;
}
.glance__pattern, .glance__pattern-line {
  position: absolute;
  top: 2px;
  right: -50px;
}
.glance__pattern {
  top: 90%;
}

.feature {
  margin-top: 140px;
}

/*# sourceMappingURL=style.css.map */
