@import './variable';

.feature {
    margin-top: 140px;
    text-align: center;

    &__heading {
        font-size: 4.2rem;
        line-height: 1.24;
    }

    &__desc {
        font-size: 1.6rem;
        line-height: 1.62;
    }
}
