@import './variable';

.feature {
    margin-top: 140px;
    text-align: center;

    &__heading {
        font-size: 4.2rem;
        line-height: 1.24;
    }

    &__desc {
        font-size: 1.6rem;
        line-height: 1.62;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 45px;
        margin-top: 44px;
        height: 421px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 43px;
        width: 350px;
        height: 362px;
        border: 1.5px solid #cecece;
        border-radius: 160px;
        transition: all 0.23s ease-out;

        &:hover {
            border-color: transparent;
            box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
            align-self: flex-start;
        }
    }

    &__item-heading {
        margin-top: 26px;
        font-size: 2rem;
        line-height: 1;
    }

    &__item-desc {
        margin-top: 9px;
        font-size: 1.4rem;
        line-height: 1.71;
    }
}
