@import './variable';

.glance {
    margin-top: 148px;
    background: $bgColor;

    &__inner {
        padding-top: 116px;
        padding-bottom: 63px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 93px;
    }

    &__heading {
        font-size: 4.2rem;
        line-height: 1.24;
        color: #e7f9f9;
        max-width: 457px;
    }

    &__line-heading {
        background: #83a17d;
    }

    &__content {
        flex: 1;
    }

    &__desc {
        font-size: 1.8rem;
        line-height: 1.56;
        color: $textColorLight;
    }

    &__action {
        margin-top: 9px;
        border: none;
        outline: none;
        margin-left: -13px;
        padding: 4px 13px;
        display: inline-flex;
        align-items: center;
        color: #fff;
        background: transparent;
        font-family: 'Public Sans';
        cursor: pointer;

        &:hover {
            border-radius: 9999px;
            background: $textColorLight;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            .glance__icon {
                color: inherit;
            }
        }
    }

    &__btn-text {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.56;
        color: inherit;
    }

    &__icon {
        margin-left: 26px;
        color: #80a07b;
        transform: rotateY(180deg);
    }

    &__video {
        margin-top: 65px;
        width: 100%;
        height: 544px;
        border-radius: 22px;
    }

    &__btn {
        width: 118px;
        height: 118px;
    }

    &__btn-icon {
        max-width: 36px;
        height: 36px;
    }
}
