@import './variable';

.glance {
    margin-top: 148px;

    &__inner {
        padding-top: 116px;
        padding-bottom: 63px;
        background: $bgColor;
    }

    &__heading {
        font-size: 4.2rem;
        line-height: 1.24;
        color: #e7f9f9;
    }

    &__line-heading {
        background: #83a17d;
    }

    &__desc {
        font-size: 18px;
        line-height: 28px;
        /* or 156% */

        /* Scondery color/gray */

        color: #6a8383;
    }
}
