@import './variable';

.glance {
    margin-top: 148px;

    &__inner {
        padding-top: 116px;
        padding-bottom: 63px;
        background: $bgColor;
    }

    &__heading {
        font-size: 4.2rem;
        line-height: 1.24;
        color: #e7f9f9;
    }

    &__line-heading {
        background: #83a17d;
    }

    &__desc {
        font-size: 1.8rem;
        line-height: 1.56;
        color: $textColorLight;
    }

    &__action {
        margin-left: -13px;
        padding: 13px;
        display: inline-flex;
        align-items: center;
        color: #fff;
        font-family: 'Public Sans';

        &:hover {
            border-radius: 9999px;
            cursor: pointer;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }

    &__btn {
        border: none;
        outline: none;
        background: transparent;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.56;
        color: inherit;
    }

    &__icon {
        margin-left: 26px;
        color: #80a07b;
        transform: rotateY(180deg);
    }
}
